
@{
    ViewBag.Title = "Conference";
    Layout = "~/Views/Shared/_MROLayout.cshtml";
}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="event-icons">
                    <ul class="list-inline">
                        <li id="click-social-icon" class="list-inline-item">
                            <i class="fa fa-plus"></i>
                        </li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-facebook fb"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-twitter twit"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                    <div class="extra-social-icon">
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank"><img src="" alt="" class="fa fa-facebook fb"> Facebook</a></li>
                            <li><a href="https://www.linkedin.com" target="_blank"><img src="" alt="" class="fa fa-linkedin"> Linkdin</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Email</a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><img src="" alt="" class="fa fa-twitter twit"> Twitter</a></li>
                            <li><a href="https://www.pintrest.com" target="_blank"><img src="" alt="" class="fa fa-pinterest pin"> Pintrest</a></li>
                            <li><a href="https://www.reddit.com" target="_blank"><img src="" alt="" class="fa fa-reddit-alien"> Reddit</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Gmail</a></li>
                            <li><a href="https://web.whatsapp.com" target="_blank"><img src="" alt="" class="fa fa-whatsapp"> WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h1><strong>Conference</strong></h1>
                    <p>On Thursday Oct. 29, 2020, there will be a FREE conference, including Vendor exhibits, lunch, and social/entertainment events. The conference consists of twelve (12) sessions of approximately one-hour length. There will be 3 separate sessions running concurrently at 4 separate time slots.  Presentations will be technical in nature and will be of interest to the audience involving topics in the Maintenance, Reliability and/or Operations fields. The presentation will take approximately 45 minutes to complete and will be followed by a 10-15 minute question and answer period.  Coffee, drinks, snacks, and lunch will be provided.</p>
                    <p><strong>If your company is interested in presenting at the conference, please contact the conference coordinator.&nbsp;</strong>Shoaib Khan&nbsp;<a href="mailto:skyeg528@gmail.com" target="_blank">skyeg528@gmail.com</a></p>
                </div>

            </div>
        </div>
    </div>

