
@{
    ViewBag.Title = "MRO2014";
    Layout = "~/Views/Shared/_MROLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="event-icons">
                    <ul class="list-inline">
                        <li id="click-social-icon" class="list-inline-item">
                            <i class="fa fa-plus"></i>
                        </li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-facebook fb"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-twitter twit"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                    <div class="extra-social-icon">
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank"><img src="" alt="" class="fa fa-facebook fb"> Facebook</a></li>
                            <li><a href="https://www.linkedin.com" target="_blank"><img src="" alt="" class="fa fa-linkedin"> Linkdin</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Email</a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><img src="" alt="" class="fa fa-twitter twit"> Twitter</a></li>
                            <li><a href="https://www.pintrest.com" target="_blank"><img src="" alt="" class="fa fa-pinterest pin"> Pintrest</a></li>
                            <li><a href="https://www.reddit.com" target="_blank"><img src="" alt="" class="fa fa-reddit-alien"> Reddit</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Gmail</a></li>
                            <li><a href="https://web.whatsapp.com" target="_blank"><img src="" alt="" class="fa fa-whatsapp"> WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <table style="width: 100%; border: 1px solid white; background: lightgray;" border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td><strong>Presenter</strong></td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <strong>Short Description</strong>
                                </td>
                                <td><strong>Downloable File</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Frank Perricone</p>
                                </td>
                                <td><span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1DSrgDKs2za0-F3b-MT4u1Js5LWaEMuejpFGM-Rvk29Y/pub&quot;,&quot;The need for accurate thermal movement to avoid severe hot misalignment of steam turbomachines&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;The need for accurate thermal movement to avoid severe hot misalignment of steam turbomachines&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1DSrgDKs2za0-F3b-MT4u1Js5LWaEMuejpFGM-Rvk29Y/pub" target="_blank">The need for accurate thermal movement to avoid severe hot misalignment of steam turbomachines</a></span></td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Frank_Perricone.pdf">Download</a></td>
                            </tr>
                            <tr>
                                <td>Paul Huges</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/13crC-o5OLTmDI7PXJ4lDy8hoTkYvFJ_8CZbzQqnfpk8/pub&quot;,&quot;How to increase slurry pump seal and packing reliability while reducing gland water&quot;)" data-sheets-userformat="[null,null,241,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],0,1]" data-sheets-value="[null,2,&quot;How to increase slurry pump seal and packing reliability while reducing gland water&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;text-align:left;"><a class="in-cell-link" href="https://docs.google.com/document/d/13crC-o5OLTmDI7PXJ4lDy8hoTkYvFJ_8CZbzQqnfpk8/pub" target="_blank">How to increase slurry pump seal and packing reliability while reducing gland water</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Paul_Hughes.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>David Fowler</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/16DHIVyFgfd1_QIQ7_qmpHxDsLPORG4SorbvqEgWJ520/pub&quot;,&quot;API 685 Sealless Pump Operation&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;API 685 Sealless Pump Operation&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/16DHIVyFgfd1_QIQ7_qmpHxDsLPORG4SorbvqEgWJ520/pub" target="_blank">API 685 Sealless Pump Operation</a></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>John Whalen</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1gsvK73QdWFuWYqNy_hIs3UTUrFxzzzDEecoz5nRhloQ/pub&quot;,&quot;Auxiliary Gearbox Reliability Issue - Gas Turbine/Generator&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Auxiliary Gearbox Reliability Issue - Gas Turbine/Generator&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1gsvK73QdWFuWYqNy_hIs3UTUrFxzzzDEecoz5nRhloQ/pub" target="_blank">Auxiliary Gearbox Reliability Issue - Gas Turbine/Generator</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/John_Whalen.pptx">Download</a></td>
                            </tr>
                            <tr>
                                <td>Humberto Gonzalez</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1Zb5xjrgmnhFeyksrJ5sWWyeHWgyuuGzfI0mtcZMGat4/pub&quot;,&quot;Sub-synchronous Vibration in Jet Pump (Coke cutting)&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Sub-synchronous Vibration in Jet Pump (Coke cutting)&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1Zb5xjrgmnhFeyksrJ5sWWyeHWgyuuGzfI0mtcZMGat4/pub" target="_blank">Sub-synchronous Vibration in Jet Pump (Coke cutting)</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Humberto_Gonzalez.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>Atila Zavicsa</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1T03Xxc5u-OuxTz_tDxYhKKgHpa80FjVx2mwYapqmrAc/pub&quot;,&quot;Dimensional and alignment inspections using portable CMM&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Dimensional and alignment inspections using portable CMM&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1T03Xxc5u-OuxTz_tDxYhKKgHpa80FjVx2mwYapqmrAc/pub" target="_blank">Dimensional and alignment inspections using portable CMM</a></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Warren Wagstaff</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/19duwCgeSGqumz1VvyVuiO_SzIbJGzUTxugBXfOihJA4/pub&quot;,&quot;Alignment Techniques – Pros/Cons of Traditional, Optical, Digital&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Alignment Techniques \u2013 Pros/Cons of Traditional, Optical, Digital&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/19duwCgeSGqumz1VvyVuiO_SzIbJGzUTxugBXfOihJA4/pub" target="_blank">Alignment Techniques – Pros/Cons of Traditional, Optical, Digital</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Warren_Wagstaff.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>Monroe Voyles</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1bUpOGa2KBbJit2V8idukUNWX1FCea3X4MC60-6mPPN0/pub&quot;,&quot;Thermal Rotor Bowing BB5&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Thermal Rotor Bowing BB5&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1bUpOGa2KBbJit2V8idukUNWX1FCea3X4MC60-6mPPN0/pub" target="_blank">Thermal Rotor Bowing BB5</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Monroe_Voyles.pptx">Download</a></td>
                            </tr>
                            <tr>
                                <td>Fred Helfmann</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/10slv5OVkAbC0yGFdpAPnpUhFZqf6yF3d_kQRW_VPZik/pub&quot;,&quot;Epoxy Grout &amp; Reliability&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Epoxy Grout &amp; Reliability&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/10slv5OVkAbC0yGFdpAPnpUhFZqf6yF3d_kQRW_VPZik/pub" target="_blank">Epoxy Grout &amp; Reliability</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Fred_Helfmann.pdf">Download</a></td>
                            </tr>
                            <tr>
                                <td>Sandy Sutherland</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1yx1nT9MbvmXQLoCgzhNYDX7WMF2xYj3_GWD8GvspAnM/pub&quot;,&quot;API 610 Type OH6 Integrally Geared Pump Operation&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;API 610 Type OH6 Integrally Geared Pump Operation&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1yx1nT9MbvmXQLoCgzhNYDX7WMF2xYj3_GWD8GvspAnM/pub" target="_blank">API 610 Type OH6 Integrally Geared Pump Operation</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Sandy_Sutherland.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>Ali Shallwani</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1sFU5MzD9_qMSRCHdkHkzUlwp7QX_klwgJ-K4lu_Tykg/pub&quot;,&quot;Dry Gas Seal Reliability Improvement&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Dry Gas Seal Reliability Improvement&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1sFU5MzD9_qMSRCHdkHkzUlwp7QX_klwgJ-K4lu_Tykg/pub" target="_blank">Dry Gas Seal Reliability Improvement</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Ali_Shallwani.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>Antony Oko</td>
                                <td>
                                    <style type="text/css">
                                        <!-- /*--><![CDATA[/* ><!--*/
                                        <!-- td {
                                            border: 1px solid #ccc;
                                        }

                                        br {
                                            mso-data-placement: same-cell;
                                        }
                                        -->

                                        /*--><!]]>*/
                                    </style>
                                    <span data-sheets-formula="=hyperlink(&quot;https://docs.google.com/document/d/1ZTJkfZVX5E7tdHhvcEMfyNPhIdKF95Xq3y2j7P5JESo/pub&quot;,&quot;Utilizing Predictive Monitoring Technologies&quot;)" data-sheets-userformat="[null,null,177,[null,2],null,null,null,[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],[null,[[null,2,0,null,null,[null,2,0]],[null,0,0,3],[null,1,0,null,1]]],null,1]" data-sheets-value="[null,2,&quot;Utilizing Predictive Monitoring Technologies&quot;]" style="font-size:13px;font-family:Arial;text-decoration:underline;color:#1155cc;"><a class="in-cell-link" href="https://docs.google.com/document/d/1ZTJkfZVX5E7tdHhvcEMfyNPhIdKF95Xq3y2j7P5JESo/pub" target="_blank">Utilizing Predictive Monitoring Technologies</a></span>
                                </td>
                                <td><a href="http://mro.rotatingspecialist.org/archive2014/Anthony_Oko.ppt">Download</a></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

