
@{
    ViewBag.Title = "MRO2018";
    Layout = "~/Views/Shared/_MROLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="event-icons">
                    <ul class="list-inline">
                        <li id="click-social-icon" class="list-inline-item">
                            <i class="fa fa-plus"></i>
                        </li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-facebook fb"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-twitter twit"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                    <div class="extra-social-icon">
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank"><img src="" alt="" class="fa fa-facebook fb"> Facebook</a></li>
                            <li><a href="https://www.linkedin.com" target="_blank"><img src="" alt="" class="fa fa-linkedin"> Linkdin</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Email</a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><img src="" alt="" class="fa fa-twitter twit"> Twitter</a></li>
                            <li><a href="https://www.pintrest.com" target="_blank"><img src="" alt="" class="fa fa-pinterest pin"> Pintrest</a></li>
                            <li><a href="https://www.reddit.com" target="_blank"><img src="" alt="" class="fa fa-reddit-alien"> Reddit</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Gmail</a></li>
                            <li><a href="https://web.whatsapp.com" target="_blank"><img src="" alt="" class="fa fa-whatsapp"> WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <table style="width: 100%; border: 1px solid white; background: lightgray;" align="left" border="1" cellpadding="1" cellspacing="1" style="width: 856px;">
                        <tbody>
                            <tr>
                                <td>
                                    <h2>&nbsp;</h2>
                                </td>
                                <td style="width: 481px;">
                                    <h1>Topic</h1>
                                </td>
                                <td style="width: 155px;">
                                    <h1>Presenter</h1>
                                </td>
                                <td style="width: 132px;">
                                    <h1>Employer</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="width: 481px;">
                                    <h2><strong>Maintenance</strong></h2>
                                </td>
                                <td style="width: 155px;">&nbsp;</td>
                                <td style="width: 132px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 M1 High Speed Turbo Gearboxes Maintenance Philadelphia Gear.pdf">High Speed Geardrive Repairs - Industry Standards &amp; Best Practices</a></td>
                                <td style="width: 155px;">Bernie L'Heureux</td>
                                <td style="width: 132px;">Standard Machine</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 M2 Motion Amplification_0.pdf">Motion Amplification: A New Way to Visualize Vibration</a></td>
                                <td style="width: 155px;">Mark van Bommel/ Janos Pattantyus</td>
                                <td style="width: 132px;">Summit Services Group/ RDI Technologies</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 M3 Do we send it out or repair it in our shop.pdf">Do We Send This Out, or Rebuild It In Our Shop?&nbsp; Analysis of Today's Maintenance Strategy</a></td>
                                <td style="width: 155px;">Mark Tinis</td>
                                <td style="width: 132px;">Mi TechCan Services</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 M4 Methods of Mitigating Torsional Transients in Turbomachinery.pdf">Torsional Vibration Solutions</a></td>
                                <td style="width: 155px;">Bob Whitney/ Earl Boyd</td>
                                <td style="width: 132px;">
                                    <p>Riverhawk Company/ Solutions 4 Ltd.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="width: 481px;">
                                    <h2><strong>Reliability</strong></h2>
                                </td>
                                <td style="width: 155px;">&nbsp;</td>
                                <td style="width: 132px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 R1 Combined Cycle Oil Filtration and Conditioning.pdf">Combined Cycle Oil Filtration and Conditioning</a></td>
                                <td style="width: 155px;">Bob Evans/ Michael Long</td>
                                <td style="width: 132px;">The Hilliard Corporation</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 R2 Design and Installation Considerations for Proper Anchoring.pdf">Design and Installation Considerations for Proper Anchoring of Rotating Equipment</a></td>
                                <td style="width: 155px;">Christopher Ewald</td>
                                <td style="width: 132px;">ITW Engineered Polymers</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 R3 Fundamentals of Vibration Problem Solving.pdf">Fundamentals of Vibration Problem Solving</a></td>
                                <td style="width: 155px;">
                                    <p>Wally Bretek</p>
                                </td>
                                <td style="width: 132px;">
                                    <p>Wood</p>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/RATS MRO 2018 R4 Vane‐Pass Resonance, Analysis & Resolution.pdf">Vane-Pass Resonance, Analysis &amp; Resolution on a 3,000HP BB1 Pump Using Modal/ ODS &amp; FEA</a></td>
                                <td style="width: 155px;">Monroe Voyles</td>
                                <td style="width: 132px;">ITT Goulds Pumps</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="width: 481px;">
                                    <h2><strong>Operations</strong></h2>
                                </td>
                                <td style="width: 155px;">&nbsp;</td>
                                <td style="width: 132px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/MRO-2018, Ops 1, Artificial Intel Tools To Drive Down Maint. Costs_0.pdf">Artificial Intelligence Tools to Drive Down Maintenance Costs</a></td>
                                <td style="width: 155px;">Sunil Vedula</td>
                                <td style="width: 132px;">Nanoprecise Sci Corp.</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/MRO-2018, Ops. 2, Design of a Chemical Injection System.pdf">Details to Consider in the Specification and Design of a Chemical Injection System</a></td>
                                <td style="width: 155px;">Trevor Brown</td>
                                <td style="width: 132px;">Wave Control Systems, Ltd.</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/MRO-2018, Ops. 3, Pump Components Repair Using Polymeric Products-Case Study.pdf">Pump Component Repair Using Polymeric Products: Case Study</a></td>
                                <td style="width: 155px;">
                                    <p>Dr. Kofi Freeman Adane</p>
                                </td>
                                <td style="width: 132px;">
                                    <p>Fluid Systems Engineering, InnoTech Alberta Inc.</p>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="width: 481px;"><a href="~/Assets/MRO/MRO-2018, Ops. 4, Compressor Piston Sealing Systems.pdf">Recip Compressor&nbsp;Piston Sealing Systems</a></td>
                                <td style="width: 155px;">David Flood</td>
                                <td style="width: 132px;">Burckhardt Compression</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="width: 481px;">&nbsp;</td>
                                <td style="width: 155px;">&nbsp;</td>
                                <td style="width: 132px;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

