
@{
    ViewBag.Title = "MROIndex";
    Layout = "~/Views/Shared/_MROLayout.cshtml";
}

<section>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="event-icons">
                    <ul class="list-inline">
                        <li id="click-social-icon" class="list-inline-item">
                            <i class="fa fa-plus"></i>
                        </li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-facebook fb"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-twitter twit"></i> </a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                    <div class="extra-social-icon">
                        <ul>
                            <li><a href="https://www.facebook.com" target="_blank"><img src="" alt="" class="fa fa-facebook fb"> Facebook</a></li>
                            <li><a href="https://www.linkedin.com" target="_blank"><img src="" alt="" class="fa fa-linkedin"> Linkdin</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Email</a></li>
                            <li><a href="https://www.twitter.com" target="_blank"><img src="" alt="" class="fa fa-twitter twit"> Twitter</a></li>
                            <li><a href="https://www.pintrest.com" target="_blank"><img src="" alt="" class="fa fa-pinterest pin"> Pintrest</a></li>
                            <li><a href="https://www.reddit.com" target="_blank"><img src="" alt="" class="fa fa-reddit-alien"> Reddit</a></li>
                            <li><a href="https://www.gmail.com" target="_blank"><img src="" alt="" class="fa fa-envelope"> Gmail</a></li>
                            <li><a href="https://web.whatsapp.com" target="_blank"><img src="" alt="" class="fa fa-whatsapp"> WhatsApp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="about_side_text">
                    <h2 class="pb-2">Welcome to the 2020 MRO Technical Conference & Workshops</h2>
                    <h4 class="pb-2">MRO: Maintenance, Reliability, Operations</h4>
                    <p>
                        The RATS MRO is a semi-annual learning and networking opportunity, sharing acquired knowledge, fostering education and career development focused on rotating equipment optimization.
                    </p>
                    <div class="spacer"></div>
                    <h2>Where :&nbsp;<a href="http://www.fortsask.ca/residents/recreation/dow-centennial-centre">Dow Centennial Centre</a>, Fort Saskatchewan. Alberta. &nbsp;<a href="https://www.google.ca/maps/place/The+Dow+Centennial+Centre's+Shell+Theatre/53.6837345,-113.2374933,17z/data=!3m1!4b1!4m2!3m1!1s0x53a0388f39234141:0x2db11080d4d85cac">Map&nbsp;click Here</a></h2>
                    <p>The Dow Centennial Centre (DCC) is a<strong>&nbsp;</strong>state-of-the-art complex comprises of the&nbsp;<a href="http://www.fortsask.ca/residents/recreation/dow-centennial-centre/facilities/floor-plan/landrex-recreational-pavilion">Landrex Recreation Pavilion</a>&nbsp;where most of the recreation and sport programs take place, and the&nbsp;<a href="http://www.fortsask.ca/residents/recreation/dow-centennial-centre/facilities/floor-plan/sherritt-cultural-pavilion">Sherritt Cultural Pavilion</a>&nbsp;which houses a fully equipped 538-seat theatre, art gallery, art and pottery studios as well as banquet and meeting rooms. &nbsp;</p>
                    <p>This<b>&nbsp;</b>170,000 sq.ft. centre is designed to host a variety of organized events<b>&nbsp;</b>and spontaneous activities. It is also a place to celebrate life’s important passages –<b>&nbsp;</b>graduations<b>&nbsp;</b>and weddings – and business events such as<b>&nbsp;</b>conferences, workshops, and trade shows.</p>
                    <!-- <h3>The Rats Movement  <a hrer="" class="btn btn-black  ml-sm-3">Learn More </a></h3> -->
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_img">
                    <h2 class="pb-2"></h2>
                    <img src="~/Assets/2000x2000.jpg" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Workshops: Wednesday Oct. 28, 2020</h2>
                    <p dir="ltr">
                        <span>
                            <a href=""></a>
                            <br>
                            Half day (4-hour) training sessions will take place on Wednesday. &nbsp;These courses provide a local training opportunity at a very reasonable cost. &nbsp;They are ideal for EIT’s, new hires, apprentices, and also for experienced personnel that want to cross train and become more well rounded. &nbsp;This affordable workshop is made possible by some of the well known and trusted experts in the rotating equipment industry. &nbsp;Workshop hours are eligible for Continuing Professional Development (CPD) credits. &nbsp;Lunch will be provided.
                        </span>
                    </p>
                    <div class="spacer"></div>
                    <!-- <h3>The Rats Movement  <a hrer="" class="btn btn-black  ml-sm-3">Learn More </a></h3> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Conference & Tradeshow: Thursday Oct. 29, 2020</h2>
                    <p dir="ltr">
                        <span id="docs-internal-guid-bf0f6a9b-c21f-12d6-d747-95b005bb5a8c">
                            <a href=""></a>
                            <br>
                            On Thursday Oct. 29, 2020, there will be a FREE conference consisting of twelve (12) sessions of one-hour length. There will be 3 separate sessions running concurrently at 4 separate time slots. &nbsp;Presentations will be technical in nature and will be of interest to the audience involving topics in the Maintenance, Reliability and/or Operations fields. The presentation should take approximately 45 minutes to complete and should be followed by a 10-15 minute question and answer period. &nbsp;Coffee, drinks, snacks, and lunch will be provided.
                        </span>
                    </p>

                    <div class="spacer"></div>
                    <!-- <h3>Working with us  <a hrer="" class="btn btn-black  ml-sm-3">Learn More </a></h3> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pt-4 pb-4 ">
                <div class="about_side_img rit-img">
                    <img src="~/Assets/2000x2000.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Keynote Speech: Thursday Oct. 29, 11:00AM</h2>
                    <h4>Subject To Be Announced</h4>
                    <p>
                        If you are interested in presenting a keynote speech at our event, please contact our conference coordinator.
                    </p>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Entertainment & Social Events: </h2>
                    <h4>Wed. Oct. 28: To Be Announced</h4>
                    <p>
                        Thr. Oct. 29: Social Gathering at Ricky's Add Day Grill at 5:00PM
                    </p>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Educational Grant </h2>
                    <p dir="ltr"><span id="docs-internal-guid-bf0f6a9b-c21f-12d6-d747-95b005bb5a8c">As part of the RATS mission, fostering education is an important aspect. &nbsp;Some of the proceeds from the MRO Technical Conference &amp; Workshops will be awarded in the form of three $1,000 post-secondary scholarships. &nbsp;This grant is available to the future generation of RATS members.&nbsp; Click <a href="">here</a> for more info.</span></p>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
                <div class="about_side_text">
                    <h2 class="pb-2">Charities </h2>
                    <h4>A portion of the MRO proceeds also goes towards the following charitable organizations:</h4>
                    <ul>
                        <li dir="ltr">
                            <p dir="ltr"><span id="docs-internal-guid-bf0f6a9b-c21f-12d6-d747-95b005bb5a8c">Win House - Edmonton Women’s Shelter Ltd.</span></p>
                        </li>
                        <li dir="ltr">
                            <p dir="ltr"><span id="docs-internal-guid-bf0f6a9b-c21f-12d6-d747-95b005bb5a8c">Autism Edmonton - Autism Society of Edmonton Area</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

