@{ Layout = "~/Views/Shared/_RatsLayout.cshtml"; }
<!-- main slider start -->
@Html.Action("slider", "Home")
<!-- main slider end -->
<!-- banner -->
<div class="container">
    <div class="cati-head-text">
        <h2 class="">Rotating and Turbomachinery society</h2>
    </div>
</div>
<!-- banner -->

<div class="spacer"></div>
<!-- events start -->
<section>
    <div class="max-wid">
        <div class=" responsive-slider-cus">
            <div id="newproduct" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner  " role="listbox">
                    <div class="carousel-item active">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src=" alt="">
                                        <!-- <div class="bg-trans"></div>
                                        <div class="eventBadge">new</div>
                                        <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Mentorship</div>
                                    <div class="date">Some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src="" alt="">
                                        <!-- <div class="bg-trans"></div>
                                        <div class="eventBadge">new</div> -->
                                        <!-- <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Seminars</div>
                                    <div class="date">Some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src="" alt="">
                                        <!-- <div class="bg-trans"></div> -->
                                        <!-- <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Tech Session</div>
                                    <div class="date">Some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src="" alt="">
                                        <!-- <div class="bg-trans"></div> -->
                                        <!-- <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Collaboration</div>
                                    <div class="date">Some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src="" alt="">
                                        <!-- <div class="bg-trans"></div>
                                        <div class="eventBadge">new</div> -->
                                        <!-- <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Title</div>
                                    <div class="date">some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                            <div class="t-p-s-box-3">
                                <a href="">
                                    <div class="tab-p-img-3">
                                        <img src="" alt="">
                                        <!-- <div class="bg-trans"></div>
                                        <div class="eventBadge">new</div> -->
                                        <!-- <div class="sale-text">Jacked at home</div> -->
                                    </div>
                                    <div class="company-name ">Title</div>
                                    <div class="date">Some text</div>
                                    <button class="btn cardBtn">Learn More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev bg-dark w-auto" href="#newproduct" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-dark w-auto" href="#newproduct" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- events end -->
<div class="spacer"></div>
<!-- banner video start -->
<section>
    <div class="container">
        <div class="row" style="display: flex;">
            <div class="col-lg-6">
                <div class="col-md-12 col-sm-4 col-lg-12">
                    <div class="content">
                        <h2>Our Mission</h2>
                        <div class="quesAns">
                            <h3>MENTORING OUR FUTURE TALENT</h3>
                            <h4>What is the Rotating and Turbomachinery society?</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam atque eius, saepe aperiam facere modi minus officia consectetur nulla in distinctio labore molestiae nostrum ullam magni voluptate sit adipisci exercitationem!</p>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="quesAns-btn">
                                <button class="btn cardBtn">Learn more</button>
                                <button class="btn cardBtn">Upcoming Events</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-4">
                <div class="vid">
                    <video controls></video>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner video end -->
<div class="spacer"></div>
@Html.Action("UpcommingEvents", "Home")
@Html.Action("PastEvents", "Home")

<!-- main banner 2 start -->
@*<section>
        <div class="max-wid">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <h2 class="banner">Upcoming Events</h2>
            </div>
            <div class=" responsive-slider-cus">
                <div id="newproduct" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner  " role="listbox">
                        <div class="carousel-item active">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                            <div class="eventBadge">new</div>
                                            <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                            <div class="eventBadge">new</div>
                                             <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                             <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                             <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                            <div class="eventBadge">new</div>
                                             <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-lg-4 col-md-6 col-xl-3 col-sm-4 col-6">
                                <div class="t-p-s-box-3">
                                    <a href="">
                                        <div class="tab-p-img-3">
                                            <img src="" alt="">
                                            <div class="bg-trans"></div>
                                            <div class="eventBadge">new</div>
                                             <div class="sale-text">Jacked at home</div>
                                        </div>
                                        <div class="company-name ">Title</div>
                                        <div class="date">May-31-2020</div>
                                        <button class="btn cardBtn">Buy Ticket</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev bg-dark w-auto" href="#newproduct" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next bg-dark w-auto" href="#newproduct" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>*@
<!-- main banner 2 end -->
<div class="spacer"></div>
<!-- main brand sec1 start -->
<section>
    <div class="max-wid container-fluid">
        <div class="cati-head-text">
            <h2 class="">Why Chouse us</h2>
        </div>
        <div class="row">

            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-xl-2 col-sm-4 col-6">
                <div class="cati-main-box">
                    <a href="">
                        <div class="cati-img-sec">
                            <img src="" alt="">
                            <div class="gradi-bg"></div>
                            <div class="brand-headi">Some text</div>
                            <div class="brand-link">Shop Now</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- main brand sec1 end -->
<div class="spacer"></div>
<!-- features and banefits start -->
<section>
    <div class="max-wid container-fluid">
        <div class="cati-head-text">
            <h2 class="">Features and benefits</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fet-card">
                    <div class="fet-info">
                        <div class="fet-title"><h3>Title</h3></div>
                        <div class="fet-icon">
                            <!-- <img src="./images/img/icon.jpg" alt=""> -->
                        </div>
                    </div>
                    <div class="fet-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, ducimus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features and banefits end -->
<div class="spacer"></div>
<!-- 6 img slider start -->
@Html.Action("Sponsers", "Home")
<!-- 6 img slider end -->
<!-- 3 slider start -->
<div class="container text-center my-3">
    <div class="cati-head-text">
        <h2 class="">Contact with us</h2>
    </div>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=1">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=2">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=3">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=4">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=5">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <img class="img-fluid" src="http://placehold.it/380?text=6">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="spacer"></div>
    <button class="btn cardBtn">Call to Action</button>
</div>
<!-- 3 slider end -->
<div class="spacer"></div>
<!-- Faq start -->
<section>
    <div class="container">
        <div id="faq" style="width: 100%; display: contents;">
            <button class="accordion">Question 1</button>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptas totam fugiat assumenda, libero consectetur? Voluptatem corrupti est sapiente dolorum!</p>
            </div>
            <button class="accordion">Question 2</button>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quisquam quo tempora voluptate asperiores quas libero cum quae ipsam nisi?</p>
            </div>
        </div>
    </div>
    <!-- <div class="max-wid">
        <div class="sec-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-lg-12">
                        <div class="faq-section">
                            <h3> FAQs</h3>
                            <div class="faq">
                                <h4>Question 1</h4>
                                <div class="answer">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut suscipit vitae in tempore eaque iste asperiores nemo perferendis consectetur dolor aperiam officia quis aut, quidem culpa ratione, fugit quos! Fuga.</p>
                                </div>
                                <h4>Question 2</h4>
                                <div class="answer">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut suscipit vitae in tempore eaque iste asperiores nemo perferendis consectetur dolor aperiam officia quis aut, quidem culpa ratione, fugit quos! Fuga.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- Faq end -->
<div class="spacer"></div>
