<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="requestFiltering" overrideModeDefault="Allow" />-->
    <!--Paypl Settings-->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--Paypl SDK Settings-->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AYvtN8QRHoMRHa4hNDr5sLmru-mvH1hU7gzROAWV_cf126_osdX_YwOPF1oV0rYpsQ_38_6abax-OgP-" />
      <add name="clientSecret" value="EHAPs9UnZIUlmAHo0wfbS1K3x4YxbrZ_57AjWVtmTA1XCbxLRpR7R7_ShT5DWJNn0kbyKGjhwROHqJ3e" />
    </settings>
  </paypal>
  <!--Log4net Settings-->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    
<!--<add name="DefaultConnection" connectionString="Server=184.168.194.78;Initial Catalog=OcdlogisticsProject;Integrated Security=False;User Id=alpha;Password=K8x9$mf9" providerName="System.Data.SqlClient" />
    <add name="OcdlogisticsEntities" connectionString="metadata=&quot;res://*&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Server=184.168.194.78;initial catalog=OcdlogisticsProject;integrated security=False;User Id=alpha;Password=K8x9$mf9;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    
    <add name="DefaultConnection" connectionString="Server=DESKTOP-31IH2EF;Initial Catalog=OcdlogisticsProject;integrated security=True"  providerName="System.Data.SqlClient" />
    <add name="OcdlogisticsEntities" connectionString="metadata=&quot;res://*/Models.Entity Models.Model1.csdl|res://*/Models.Entity Models.Model1.ssdl|res://*/Models.Entity Models.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-31IH2EF;initial catalog=OcdlogisticsProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Local Host-->
      
     <!--<add name="DefaultConnection" connectionString="Server=DESKTOP-75RC10G\SQLSERVER;Initial Catalog=OcdlogisticsProject ;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="OcdlogisticsEntities" connectionString="metadata=&quot;res://*&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Server=DESKTOP-75RC10G\SQLSERVER;initial catalog=OcdlogisticsProject;integrated security=True ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  
  </connectionStrings>
  <appSettings>
    <!--paypal Logger settings-->
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="from" value="rizwanahmed4642@gmail.com" />
    <add key="to" value="" />
    <add key="host" value="smtp.gmail.com" />
    <add key="Password" value="kipsfung3" />
    <add key="port" value="587" />
  </appSettings>
  <system.web>
 <customErrors mode = "Off"/>
  <trust level = "Full"/>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime maxRequestLength="2097152" requestLengthDiskThreshold="2097152" executionTimeout="240" targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 
</configuration>
<!--ProjectGuid: 15A0BEFE-3B9B-4F53-9D31-AE32F1AE7799-->