@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <br><br> <h2 style="color: #FF0000">Ops!</h2>
                <img src="https://1.bp.blogspot.com/-8BcJGL-EvvA/Wt7Gmi7rxTI/AAAAAAAAJe4/01N5pkmQBIsOvAFezBXSqc1WSQm--04awCLcBGAs/s1600/error.png">
                <h3>Dear, Customer</h3>
                <p style="font-size:20px;color:#5C5C5C;">
                    Your Payment has been not Successfully Done !
                </p>
                <a href="@Url.Action("Index","Product")" class="btn btn-info">     Go Back    </a>
                <br><br>
            </div>

        </div>
    </div>
</body>

