
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Action("AddSponserEducation", "SponserEducation", new { area = "Admin" })
@Html.Action("List", "SponserEducation", new { area = "Admin" })


@section scripts{
    <script src="~/Areas/AdminDashboard/assets/js/pages/crud/forms/widgets/autosize.js?v=7.0.4"></script>

    <script>
        $(document).ready(function () {
            GetList();
        });

        function swaldel(DelID) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("Deleted!", "Your record has been deleted.", "success");

                    window.location.href = '/Admin/SponserEducation/Delete?id=' + DelID;

                }
                else {
                    swal("Cancelled", "Your record is safe :)", "error");
                }

            });
        }

        function GetList() {

            var FetchItems = "/Admin/SponserEducation/GetList";

            var oTable = $('#kt_datatable').DataTable({
                "iDisplayLength": 50,
                "bServerSide": true,
                "bDestroy": true,
                "async": false,
                "sAjaxSource": FetchItems,
                "bProcessing": false,
                "aoColumns": [
                    { "mData": "name" },
                    {
                        "mData": "imgurl",
                        "render": function (data, type, full, meta) {
                            return "<img src=\"" + data + "\" height=\"60\"/>";
                        },
                    },
                    {
                        "mData": "Id",
                        "mRender": function (data, type, row, meta) {
                            var CommitteeID = row.Id;
                            var str = '<a class="btn btn-sm btn-warning"  href="/Admin/SponserEducation/EditSponserEducation?Id=' + CommitteeID + '"><i class="fas fa-edit"></i >Edit</a>';
                           str += '<a class="btn btn-sm btn-danger" style="margin-left:5px" onclick=\'swaldel("' + CommitteeID + '")\' ><i class="fas fa-trash-alt"></i>Delete</a>';
                            return str;
                        },
                        "bSearchable": false,
                        "bSortable": false
                    }
                ],
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback,
                        "error": function (e) {
                            console.log(e.message);
                        }
                    });
                }
            });
        }
    </script>
}

