
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_OcdLogisticsLayout.cshtml";
}
<link href="~/Assets/css/education.css" rel="stylesheet" />

@Html.Action("EduBanne", "Home")


<!-- learn preference -->
<section>
    <div class="container padi-tb-50 adu-learn">
        <h2 class="mb-3 text-center ">Learning  Preference</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280 ">
                    <a href="">
                        <div class="pre-box">
                            <img src="~/Assets/images/per1.jpg" />

                            <!-- <div class="gradi-bg"></div> -->
                        </div>
                    </a>
                    <h5>Private 1 on 1</h5>
                    <button class="btn btn-black">Level Up</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="pre-box">
                            <img src="~/Assets/images/per2.jpg" alt="">
                            <!-- <div class="gradi-bg"></div> -->
                        </div>
                    </a>
                    <h5>Classroom Learning</h5>
                    <button class="btn btn-black">Level Up</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="pre-box">
                            <img src="~/Assets/images/per3.jpg" alt="">
                            <!-- <div class="gradi-bg"></div> -->
                        </div>
                    </a>
                    <h5>Live Online</h5>
                    <button class="btn btn-black">Level Up</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="pre-box">
                            <img src="~/Assets/images/per4.jpg" alt="">
                            <!-- <div class="gradi-bg"></div> -->
                        </div>
                    </a>
                    <h5>Online Modules</h5>
                    <button class="btn btn-black">Level Up</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- upcoming classes -->
<section>
    <div class="container padi-tb-50 adu-learn">
        <h2 class="mb-3 text-center">Upcoming / Featured Courses</h2>
        <div class="row max-wid">
            <div class="col-lg-4 col-md-4">
                <div class="product-page-box">
                    <a href="">
                        <div class="product-page-img">
                            <img src="~/Assets/images/img/COMING-SOON-bg.png" alt="">
                        </div>
                        <div class="product-page-text">
                            <div class="product-page-name">
                                <p class="product-page-name">Course Coming Soon</p>
                                <p class="product-detail">Edmonton</p>
                                <button class="btn btn-black">REGISTER</button>
                            </div>
                            <div class="brand-price-product">
                                <div class="row no-gutters">
                                    <div class="col-4 col-sm-3 pl-3"><a href="" class="white"><span class="fa fa-heart-o heart-cus">9.1</span></a></div>
                                    <div class="col-4 col-sm-6 text-center">
                                        <div class="product-price">
                                            <div class="dis-price"></div>
                                            <div class="real-price pt-2">$126</div>

                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-3 add-text-s"><a href="" class="white" data-toggle="modal" data-target="#mycarts"><img src="~/Icons/cart-img.png" alt="">  </a></div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="product-page-box">
                    <a href="">
                        <div class="product-page-img">
                            <img src="~/Assets/images/img/COMING-SOON-bg.png" alt="">
                        </div>
                        <div class="product-page-text">
                            <div class="product-page-name">
                                <p class="product-page-name">Course Coming Soon</p>
                                <p class="product-detail">Edmonton</p>
                                <button class="btn btn-black">REGISTER</button>
                            </div>
                            <div class="brand-price-product">
                                <div class="row no-gutters">
                                    <div class="col-4 col-sm-3 pl-3"><a href="" class="white"><span class="fa fa-heart-o heart-cus">9.1</span></a></div>
                                    <div class="col-4 col-sm-6 text-center">
                                        <div class="product-price">
                                            <div class="dis-price"></div>
                                            <div class="real-price pt-2">$126</div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-3 add-text-s"><a href="" class="white" data-toggle="modal" data-target="#mycarts"><img src="~/Icons/cart-img.png" alt="">  </a></div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="product-page-box">
                    <a href="">
                        <div class="product-page-img">
                            <img src="~/Assets/images/img/COMING-SOON-bg.png" alt="">
                        </div>
                        <div class="product-page-text">
                            <div class="product-page-name">
                                <p class="product-page-name">Course Coming Soon</p>
                                <p class="product-detail">Edmonton</p>
                                <button class="btn btn-black">REGISTER</button>
                            </div>

                            <div class="brand-price-product">
                                <div class="row no-gutters">
                                    <div class="col-4 col-sm-3 pl-3">
                                        <a href="" class="white">
                                            <span class="fa fa-heart-o heart-cus">9.1</span>
                                        </a>
                                    </div>
                                    <div class="col-4 col-sm-6 text-center">
                                        <div class="product-price">
                                            <div class="dis-price pt-2"></div>
                                            <div class="real-price">$126</div>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-3 add-text-s"><a href="" class="white" data-toggle="modal" data-target="#mycarts"><img src="~/Icons/cart-img.png" alt="">  </a></div>
                                </div>

                            </div>
                        </div>


                        <!-- <div class="brand-price-product">
                            <div class="row no-gutters">
                                <div class="col-4 col-sm-3 px-3"><span class="fa fa-heart-o heart-cus">9.1</span></div>
                                <div class="col-4 col-sm-5 text-center">
                                    <div class="product-price text-center">

                                        <div class="real-price">$TBD</div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 add-text-s">Add <i class="fa fa-plus"></i></div>

                            </div>
                        </div> -->
                </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>


<!-- student testimonial -->
<section class="container text-center padi-tb-50">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold mb-5">Student Testimonial</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Our goal is to leave our students with knowledge that will impact their lives for a lifetime. </p>

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
                <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
                <p class="font-weight-normal dark-grey-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                    eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                </p>
                <!--Review-->
                <!-- <div class="orange-text">
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star"> </i>
                    <i class="fas fa-star-half-alt"> </i>
                </div> -->
            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mb-md-0 mb-5">
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
                <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
                <p class="font-weight-normal dark-grey-text">
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, nisi ut aliquid commodi.
                </p>

            </div>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4">
            <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
                <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
                <p class="font-weight-normal dark-grey-text">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium voluptatum deleniti atque corrupti.
                </p>

            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <button class="btn btn-testimonial">Find a Course</button>

</section>


<!-- our education -->
<section>
    <div class="container padi-tb-50 edu-pro-hit cus-edu-bx-w ">
        <h2 class="mb-3 text-center">Our Education</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="edu-sec">
                            <img src="~/Assets/images/dumy-profile.jpg" alt="">
                            <div class="gradi-bg"></div>
                        </div>
                    </a>
                    <h5>Education Name Position</h5>
                    <button class="btn btn-black">View Profile</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="edu-sec">
                            <img src="~/Assets/images/dumy-profile.jpg" alt="">
                            <div class="gradi-bg"></div>
                        </div>
                    </a>
                    <h5>Education Name Position</h5>
                    <button class="btn btn-black">View Profile</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="edu-sec">
                            <img src="~/Assets/images/dumy-profile.jpg" alt="">
                            <div class="gradi-bg"></div>
                        </div>
                    </a>
                    <h5>Education Name Position</h5>
                    <button class="btn btn-black">View Profile</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="cati-main-box text-center mb-3 h-280">
                    <a href="">
                        <div class="edu-sec">
                            <img src="~/Assets/images/dumy-profile.jpg" alt="">
                            <div class="gradi-bg"></div>
                        </div>
                    </a>
                    <h5>Education Name Position</h5>
                    <button class="btn btn-black">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- features & benefits -->
<section>
    <div class="max-wid container-fluid padi-tb-50">
        <div class="cati-head-text">
            <h1>Features & Benefits</h1>
        </div>
        <div class="row">
            @Html.Action("HomePage_Fetures_Benifits", "Home", new { page = OcdlogisticsSolution.Common.ViewModels.Pages.Education })


        </div>
    </div>
</section>


<!-- faqs -->
<div class="acc-tabs">
    <div class="container padi-tb-50">
        <h2 class="mb-3 text-center">FAQs</h2>
        <div class="row">
            <div id="accordionFaq" class="myaccordion">
                @Html.Action("_FAQ", new { page = OcdlogisticsSolution.Common.ViewModels.Pages.Education })
            </div>
        </div>
    </div>
</div>


<!-- contact us -->
<div class="container-fluid">
    <div class="container padi-tb-50 form-b-mar">
        <div class="cati-head-text">
            <h1>Connect with an Educator</h1>
        </div>
        <form style="text-align: center;">
            <div class="row">
                <div class="col-12 col-sm">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-12 col-sm">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="col-12 col-sm">
                    <input type="tel" class="form-control" placeholder="Phone">
                </div>
            </div>

            <div class="form-group">
                <!-- <label for="exampleFormControlTextarea1">Example textarea</label> -->
                <textarea class="form-control" placeholder="Type your message" style="min-height: 90px;" id="FormControlTextarea" rows="3"></textarea>
            </div>
            <button class="btn btn-shop">Send Message</button>
        </form>
    </div>
</div>


<!-- our partners -->
@Html.Action("SponserEducation", "Home")

