@*@model PodBusiness.DAL.tbl_partnerCRS*@
<!--<link href="~/Assets/css/patner.css" rel="stylesheet" />

<div class="col-lg-8">
    <div class="sub-title">
        <div class="spacer"></div>
        <h2>@Model.Heading</h2>
    </div>
    <div class="spacer"></div>
    <div class="content">
        <p>@Model.contents</p>
    </div>
    <div class="ban-img">
        <img src="@Model.img" alt="" srcset="">
    </div>
    <div class="spacer"></div>
    <button class="btn btn-form">Learn more</button>
</div>-->
