@model OcdlogisticsSolution.DomainModels.Models.Entity_Models.Tbl_PrivacyPolicy
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_OcdLogisticsLayout.cshtml";
}


<div class="container">
    <div class="padi-tb-50">
        @(new MvcHtmlString( Model.Contents))

    </div>
</div>