@model OcdlogisticsSolution.DomainModels.Models.Entity_Models.TermsConditions
@{
    ViewBag.Title = "TurmsConditions";
    Layout = "~/Views/Shared/_OcdLogisticsLayout.cshtml";
}

<div class="container">
    <div class="padi-tb-50">
        @(new MvcHtmlString( Model.Contents))

    </div>
</div>
