
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Notice-->
            <!--end::Notice-->
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">
                        Home Page Features &amp; Benefits Section
                    </h3>
                    <a href="/Admin/Home/AddFeature_Benifits">Add New Feature &amp; Benefits</a>
                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Heading</th>
                                <th>Page</th>
                                <th>Content</th>
                                <th>Icon</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                    <!--end: Datatable-->
                </div>

            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section  Scripts{
    <script>
        function GetList() {

            var FetchItems = "../../Admin/Home/GetList_Features_Benifits";

            var oTable = $('#kt_datatable').DataTable({
                "iDisplayLength": 50,
                "bServerSide": true,
                "bDestroy": true,
                "async": false,
                "sAjaxSource": FetchItems,
                "bProcessing": false,
                "aoColumns": [
                    { "mData": "Heading" },
                    { "mData": "Type" },
                    {
                        "mData": "Content",
                        render: function (data, type, full, meta) {
                            return "<p style='word-break: break-all;max-width:400px'>" + data + "</p>";
                        },
                    },
                    {
                        "mData": "Icon",
                        render: function (data, type, full, meta) {
                            return "<img src=\"" + data + "\" height=\"60\"/>";
                        },
                    },
                    {
                        "mData": "ID",
                        "mRender": function (data, type, row, meta) {
                            var CommitteeID = data;
                            var str = '<a class="btn btn-sm btn-warning"  href="/Admin/Home/EditFeature_Benifits/' + CommitteeID + '"><i class="fas fa-edit"></i >Edit</a>';
                            //str += '<a class="btn btn-sm btn-primary" style="margin-left:5px" href="/Admin/Home/ListFaqQues/' + CommitteeID + '"><i class="fas fa-info"></i>View Questions</a>';
                            str += '<a class="btn btn-sm btn-danger" style="margin-left:5px" href="/Admin/Home/Delete_Feature_Benefit/' + CommitteeID + '" ><i class="fas fa-trash-alt"></i>Delete</a>';
                            return str;
                        },
                        "bSearchable": false,
                        "bSortable": false
                    }
                ],
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": fnCallback,
                        "error": function (e) {
                            console.log(e.message);
                        }
                    });
                }
            });
        }

        GetList();
    </script>
}
