@model OcdlogisticsSolution.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_OcdLogisticsLayout.cshtml";

}

<style>
    .form-control {
        border-color: white;
    }
</style>


<div id="forget-bg">
    <!-- BreadCrumbs -->
    <ul class="breadcrumb cust_crumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a class="active" href="#">Forgot Password</a></li>
    </ul>
    <div class="container">
        <div class="row d-flex h-100">
            <div class="col-12 col-lg-12 col-md-12 col-xl-12 ">
                <div id="e_msg"></div>
                <div class="form-main login_main_div pt-md-5 pb-md-5 cont_text">
                    @*  <form class="login-form cust_cntct_input" id="login" onSubmit="return false">*@
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "login", @class = "login-form cust_cntct_input" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class=" justify-center">
                            <p class="text-center log_mint_p bg_transp">OCD LOGISTICS FORGOT PASSWORD</p>
                            <div class="forgot-pass-text bg_transp">
                                <h3>Reset Your Password:</h3>
                                <p>We will send you an Email to reset your password</p>
                            </div>

                            <div class="text-center pt-3 pb-2">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control orange-place", placeholder = "Email", id = "email" })
                                </div>
                            </div>
                        </div>


                        <div class="text-center pt-md-3 pb-2">
                            <button type="submit" class="btn btn-primary mint_cntct_btn login_social_btn">Submit</button>
                        </div>

                        <div class="text-center pb-2">
                            <a href="@Url.Action("Login", "Account")" class="btn btn-black login_social_btn mint_cntct_btn">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


