
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_OcdLogisticsLayout.cshtml";

}
    <div id="contact_us">
        <!-- BreadCrumbs -->
        <ul class="breadcrumb cust_crumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a class="" href="#">Create Account</a></li>
        </ul>
        <div class="container">
            <div class="row d-flex h-100">
                <div class="col-12 col-lg-12 col-md-12 col-xl-12 ">
                    <div id="e_msg"></div>
                    <div class="form-main login_main_div pt-md-5 pb-md-5 cont_text">
                        <h2 style="text-align:center;">@ViewBag.Title.</h2>
                        <h3 style="text-align:center;color:white !important">@ViewBag.Message </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


