@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_RatsLayout.cshtml";

}
    <div id="contact_us">
        <!-- BreadCrumbs -->
        <ul class="breadcrumb cust_crumb">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li><a class="" href="#">Reset Password Confirmation</a></li>
        </ul>
        <div class="container">
            <div class="row d-flex h-100">
                <div class="col-12 col-lg-12 col-md-12 col-xl-12 ">
                    <div id="e_msg"></div>
                    <div class="form-main login_main_div pt-md-5 pb-md-5 cont_text">
                        <hgroup class="title">
                            <h1 style="text-align:center; color:white !important">@ViewBag.Title.</h1>
                        </hgroup>
                        <div>
                            <p style="text-align:center">
                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

